<!doctype html>
<html lang="ko">
<head>
  <% include ../common/htmlHead.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/dialog-polyfill.css" />
  <script src="/javascripts/dialog-polyfill.js"></script>
  <style>
    .mdl-data-table th {
      text-align: center !important;
    }
    .mdl-data-table td {
      text-align: left !important;
      cursor: pointer;
    }
  </style>
  <script>
    var snackbarMessage = null, 
        dialog = null;

    window.onload = function () {
      snackbarMessage = document.querySelector('#snackbarMessage');

      dialog = document.querySelector('dialog');
      if (! dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
      }
      dialog.querySelector('.close').addEventListener('click', function() {
        dialog.close();
      });
    }   

    function ev_new(){
      $("#userno").val("");
      $("#userid").val("");
      $("#usernm").val("");
      $("#userpw").val("");
      $("#usermail").val("");
      $("#pwDiv").show();      
      $("#userid").prop( "disabled", false );
      dialog.showModal();
    }

    function fn_rowClick(userno) {
      $.ajax({
          method: "GET",
          url: "/adusers/read",
          data: { userno: userno }
        }).done(function( row ) {
          dialog.showModal();
          $("#userno").val(userno);
          $("#userid").val(row.USERID);
          $("#usernm").val(row.USERNM);
          $("#usermail").val(row.USERMAIL);
          $("#pwDiv").hide();
          $("#userid").prop( "disabled", true );
        });
    }
    function fn_submit() {
      var snackbarMessage = document.querySelector('#snackbarMessage');
      if ($("#userid").val()==="") {
        snackbarMessage.MaterialSnackbar.showSnackbar({message: 'Please enter user id.',timeout: 2000});        
        return;
      }      
      if ($("#usernm").val()==="") {
        snackbarMessage.MaterialSnackbar.showSnackbar({message: 'Please enter user name.',timeout: 2000});        
        return;
      }
      $.ajax({
        type: "POST",
        url: "save",
        data: {userno:$("#userno").val(), userid:$("#userid").val(), usernm:$("#usernm").val(), userpw:$("#userpw").val(), usermail:$("#usermail").val(),},
        success: function(r){
            if (r=="OK") location.reload(); //location.href="list";
            else 
            if (r=="duplicate")  snackbarMessage.MaterialSnackbar.showSnackbar({message: 'Duplicate ID.',timeout: 2000});    
        },
        error: function (e) {
            console.log("some error", e);
        }
      });   
    }
    var page=1, isLoading = false;
    function ev_onScroll(){
      if (isLoading) return;

      var list = event.target;
      if ( (list.scrollTop) < (list.scrollHeight - list.offsetHeight-50) ) return;

      isLoading = true;
      $.ajax({
        type: "GET",
        url: "getPageList",
        data: {page:++page},
        success: function(r){
          r.rows.forEach(function(row) {
            var li = $('<tr/>');
            var html = '<td>' + row.USERNM + '</td>' + 
                       '<td>' + row.USERID + '</td>' + 
                       '<td>' + row.USERMAIL + '</td>' + 
                       '<td>' + row.ENTRYDATE + '</td>';
                                       
            li.html(html);
            $('#listUL').append(li);
            li.click(function() {
              fn_rowClick(row.USERNO);
            });
          });
          isLoading = ! r.rows.length>0;
        },
        error: function (e) {
            console.log("some error", e);
        }
      }); 
    }
  </script>
</head>
<body>
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <% include header_menu.ejs %>

    <main class="mdl-layout__content mdl-color--grey-100" onScroll="ev_onScroll()">
      <div class="mdl-grid demo-content">
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="min-width:400px">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>ID</th>
                  <th>Email</th>
                  <th>Join</th>
                </tr>
              </thead>
              <tbody id="listUL">
                  <%
                  rows.forEach(function(row) {
                  %>                 
                    <tr onclick="fn_rowClick(<%=row.USERNO%>)">
                      <td><%=row.USERNM%></td>
                      <td><%=row.USERID%></td>
                      <td><%=row.USERMAIL%></td>
                      <td><%=row.ENTRYDATE%></td>
                    </tr>
                <%
                  });
                %>                
              </tbody>
            </table>
      </div>
    </main>
  </div>
  <div style="bottom: 30px;position: absolute;right: 30px; z-index:99">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" onclick="ev_new()">
      <i class="material-icons">add</i>
    </button>
  </div>

  <dialog class="mdl-dialog">
      <h4 class="mdl-dialog__title">User</h4>
      <form action="save" id="inputForm" method="post" style="width: 100%;">
        <input type="hidden" id="userno" name="userno">      
        <div class="mdl-dialog__content">
            <div class="mdl-cell--12-col">
                <div class="mdl-cell--4-col" style="display: inline-block">User ID</div>
                <div class="mdl-cell--8-col mdl-textfield mdl-js-textfield"><input class="mdl-textfield__input" type="text" id="userid" name="userid"/></div>
            </div>    
            <div class="mdl-cell--12-col">
                <div class="mdl-cell--4-col" style="display: inline-block">User Name</div>
                <div class="mdl-cell--8-col mdl-textfield mdl-js-textfield"><input class="mdl-textfield__input" type="text" id="usernm" name="usernm"/></div>
            </div>                    
            <div class="mdl-cell--12-col" id="pwDiv">
                <div class="mdl-cell--4-col" style="display: inline-block">Password</div>
                <div class="mdl-cell--8-col mdl-textfield mdl-js-textfield"><input class="mdl-textfield__input" type="password" id="userpw" name="userpw"/></div>
            </div>   
            <div class="mdl-cell--12-col">
                <div class="mdl-cell--4-col" style="display: inline-block">Email</div>
                <div class="mdl-cell--8-col mdl-textfield mdl-js-textfield"><input class="mdl-textfield__input" type="text" id="usermail" name="usermail"/></div>
            </div>                    
        </div>
      </form>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" onclick="fn_submit()">Save</button>
        <button type="button" class="mdl-button close">Close</button>
      </div>
  </dialog>  

  <div id="snackbarMessage" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>      
</body>
</html>
