<!doctype html>
<html lang="ko">
  <head>
      <% include ../common/htmlHead.ejs %>
      <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%=appkey%>"></script>      
      <script src="/javascripts/daumMap.js"></script>   
      <script src="/javascripts/dialog-polyfill.js"></script>
      <link rel="stylesheet" type="text/css" href="/stylesheets/dialog-polyfill.css" />
      <link rel="stylesheet" href="/stylesheets/MyTownMap.css">
      <style>
        .mdl-list__item > span {
            width: 100px;
        }
        .mdl-list-courseitem {
          float:left;
          cursor: pointer;
        }
        .mdl-list-courseitem-text {
          text-align: center;
          margin-top: 10px;
          float: left;
          width: 100%; 
          overflow: hidden; 
          white-space: nowrap; 
          text-overflow: ellipsis;          
        }
        .mdl-tooltip--large {
          color: black;
          padding: 0px;
        }        
        .mdl-tooltip--large > .wrap{
          border: 1px solid;
        }

        .cmdesc img {
          max-width: 98%;
        }
        .cmdesc a {
          color: blue;
        }
    </style>   
    
    <script>
      var markerInfo = null;
      var dialogPlace = null;
      var dialogReply = null;

      window.onload = function () {
        var dtlList = <%-JSON.stringify(dtlList).replace(/null/gi, '""')%>;
        var centerPos = {lng:<%=mapInfo.lng%>, lat:<%=mapInfo.lat%>};
        var positions = [];

        dtlList.forEach(function(place) {
          var content = getMarker(place);
          var posInfo =  {
            content: content, 
            latlng: new daum.maps.LatLng(place.PGLAT, place.PGLON),
            place: place
          };
          positions.push(posInfo);
          $("#" + place.PGNO).click(function() {
            $("#pgname").html(place.PGNAME);
            $("#pgaddr").html(place.PGADDR);
            $("#placeAvarta3dialog").html("<i class='material-icons mdl-list__item-avatar noRound'>" + place.PLACEICON +"</i>");
            
            var str = "";
            if (place.PGTYPE2NM) str = place.PGTYPE2NM;
            if (place.PGURL) str += ' <a href="' + place.PGURL + '" target="_blank" class="link">홈페이지</a> ';
            str += '<a href="http://map.daum.net/link/to/' + place.PGNAME + ',' + place.PGLAT + ',' + place.PGLON + '" target="_blank" class="link">길찾기</a>'; 
            $("#pgetc").html(str);
            
            dialogPlace.showModal();
          });
        });
        markerInfo = showMap(document.getElementById('mytown_map'), new daum.maps.LatLng(centerPos.lat, centerPos.lng), positions);

        $("input[name='placetype']").prop("checked", true);

        $('main').scroll(scrollFunction);

        dialogPlace = document.getElementById('dialogPlace');
        if (! dialogPlace.showModal) {
          dialogPolyfill.registerDialog(dialogPlace);
        }
        dialogPlace.querySelector('.close').addEventListener('click', function() {
          dialogPlace.close();
        });       
        
        dialogReply = document.getElementById('dialogReply');
        if (! dialogReply.showModal) {
            dialogPolyfill.registerDialog(dialogReply);
        }
        dialogReply.querySelector('.close').addEventListener('click', function() {
            dialogReply.close();
        });

        getCourseReply();
      }      

      function scrollFunction() {
          if ( $('main').scrollTop() > 50 ) {
            $("#toTop").show();
          } else {
            $("#toTop").hide();
          }
        
      }
      function ev_showOthers() {
        if (markerInfo.markerList.length===0) return;
        var pos = markerInfo.markerList[0].getPosition();
        location.href = "/show/myTownMap?lng=" + pos.lng + "&lat=" + pos.lat
      }
      function ev_toTop() {
        $('main').animate({ scrollTop: 0 }, 'slow');
      } 
    // ////////////////////////////////////

    function getCourseReply(){
        $.ajax({
          type: "GET",
          url: "getCourseReply",
          data: {cmno:<%=mstInfo.CMNO%>},
          success: function(replyList){
            replyList.forEach(function(row) {
              var li = $('<li class="mdl-list__item mdl-list__item--two-line height_auto">');
              var html = '<span class="mdl-list__item-primary-content height_auto">';
              if (row.PHOTO) { 
                html += '<img class="userAvatar" src="/common/getimage/' + row.PHOTO + '" alt="UserPhoto"/>';
              } else {
                html += '<i class="material-icons mdl-list__item-avatar">person</i>';
              } 
              html += '<span>' + row.USERNM +
                      '<span class="smallFont">' + row.REDATE + '</span>';
              if (row.ISMINE) {
                html += '<a onclick="ev_replyDelete(' + row.RENO + ')" title="Delete"><i class="mdl-color-text--blue-grey-400 material-icons material-icons4reply" role="presentation">delete</i></a>' +
                        '<a onclick="ev_replyModify(' + row.RENO + ')" title="Modify"><i class="mdl-color-text--blue-grey-400 material-icons material-icons4reply" role="presentation">create</i> </a>';
              }
              html += '</span>' +
                      '<span class="mdl-list__item-sub-title" id="reno' + row.RENO + '">' + row.REMEMO + '</span>'+
                      '</span>';

              li.css({cursor: "default"});
              li.html(html);
              $('#replyListUL').append(li);

            });
          }
        });  
      }    

    function ev_replySave(suffix){
        var rememo = $.trim($("#rememo"+suffix).val());
        if (rememo==="") {
          snackbarMsg.MaterialSnackbar.showSnackbar({message: 'Please enter reply.',timeout: 2000});        
          return;
        }
        if (rememo.length> 500) {
          snackbarMsg.MaterialSnackbar.showSnackbar({message: 'Please Enter 500 characters or less.',timeout: 2000});        
          return;
        }
        $("#replyForm"+suffix).submit();
    }

    function ev_replyModifySave(){
        var rememo = $.trim($("#mod_rememo").val());
        if (rememo==="") {
          snackbarMsg.MaterialSnackbar.showSnackbar({message: 'Please enter reply.',timeout: 2000});        
          return;
        }
        if (rememo.length> 500) {
          snackbarMsg.MaterialSnackbar.showSnackbar({message: 'Please Enter 500 characters or less.',timeout: 2000});        
          return;
        }
        $("#replyModifyForm").submit();
    }

    function ev_replyDelete(reno){
        if (!confirm("삭제하시겠습니까?")) return;

        location.href = "replyDelete?cmno=<%=mstInfo.CMNO%>&reno=" + reno;
    }

    function ev_replyModify(reno){
        $("#reno_mod").val(reno);
        $("#rememo_mod").val($("#reno"+reno).text());
        dialogReply.showModal();
    }      
    </script>   
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <% include ../common/header_menu.ejs %>

      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content mdl-color--white mdl-shadow--2dp">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text"><%=mstInfo.CMTITLE%></h2>
              </div>              
              <ul class="demo-list-two mdl-list" id="listUL">
                  <%
                      dtlList.forEach(function(row) {
                  %>                
                      <li class="mdl-list-courseitem mdl-cell--2-col" id="<%=row.PGNO%>">
                        <div class="placeAvarta">
                          <i class="material-icons mdl-list__item-avatar noRound"><%=row.PLACEICON%></i>
                        </div>
                        <span class="mdl-list-courseitem-text" title="<%=row.PGNAME%>"><%=row.PGNAME%></span>
                      </li>
                  <%
                      });
                  %>
              </ul>                
        </div>

        <div class="mdl-grid demo-content mdl-color--white mdl-shadow--2dp cmdesc">
            <span><%-mstInfo.CMDESC%></span>
        </div>  
        
        <div class="mdl-grid demo-content mdl-color--white mdl-shadow--2dp">
            <% if (userno) { %>
              <div class="mdl-cell--7-col mdl-cell--12-col-tablet ">
                  <form action="replySave" id="replyForm" method="post">
                    <input type="hidden" id="cmno" name="cmno" value="<%=mstInfo.CMNO%>"/>
                    <textarea id="rememo" name="rememo" rows="2" class="memoInput" placeholder="댓글을 입력하세요..."></textarea>
                </form>
              </div>
              <div class="mdl-card__media1 mdl-cell--5-col mdl-cell--12-col-tablet ">
                <button class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised" href="#" onclick="ev_replySave('')">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">save</i> Reply Save</button>
              </div>
            <% } else { %>
              <div class="mdl-cell--7-col mdl-cell--12-col-tablet ">
                  <div style="border: 1px solid  rgba(0,0,0,.1);height: 40px;text-align: center;padding-top: 15px;">
                      <a href="/users/loginForm">로그인을 하시면 댓글을 등록할 수 있습니다.</a>
                  </div>  
              </div>  
            <% } %>

            <ul id="replyListUL" class="demo-list-two mdl-list"></ul>
        </div>    

        <div class="mdl-grid demo-content mdl-color--white mdl-shadow--2dp">
          <div id="mytown_map" class="map" style="width: 100%; height: 500px;"></div>      
        </div>

        <div style="z-index:99; position:relative; left:20px; top: -300px">
          <a class="mdl-button mdl-js-button mdl-button--fab " style="width:30px;height: 30px;min-width:30px;" onclick="ev_showOthers()" title="2Km내의 다른 장소보기">
            <i class="material-icons" style="color:red">map</i>
          </a>
        </div>
      </main>
    </div>

    <dialog class="mdl-dialog" id="dialogPlace">
      <h4 class="mdl-dialog__title" id="pgname">이름</h4>
      <div class="mdl-dialog__content" style="min-height: 70px;">
        <div style="float:left">
          <div class="placeAvarta" id="placeAvarta3dialog"></div>
        </div>
        <div style="float:left; padding-left: 10px; width: 250px">
          <div id="pgaddr">주소</div>
          <div id="pgetc" class="info">etc</div>
        </div>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Close</button>
      </div>
    </dialog> 

    <dialog class="mdl-dialog" id="dialogReply">
      <h4 class="mdl-dialog__title">Reply</h4>
      <div class="mdl-dialog__content" style="padding: 5px 0px 0px 0px;">
        <form action="replySave" id="replyForm_mod" method="post">
          <input type="hidden" id="cmno_mod" name="cmno" value="<%=mstInfo.CMNO%>"/>
          <input type="hidden" id="reno_mod" name="reno"/>
          <textarea id="rememo_mod" name="rememo" rows="10" class="memoInput"></textarea>
        </form>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" onclick="ev_replySave('_mod')">Save</button>
        <button type="button" class="mdl-button close">Close</button>
      </div>
    </dialog>  

    <div id="toTop" style="bottom: 30px;position: absolute;right: 10px; z-index:99; display:none;">
      <a class="mdl-button mdl-js-button mdl-button--fab " style="width:30px;height: 30px;min-width:30px;" onclick="ev_toTop()">
        <i class="material-icons" style="color:red">arrow_upward</i>
      </a>
    </div>
  </body>
</html>
