<!doctype html>
<html lang="ko">
  <head>
      <% include ../common/htmlHead.ejs %>
      <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%=appkey%>"></script>      
      <script src="/javascripts/daumMap.js"></script>   
      <script src="/javascripts/dialog-polyfill.js"></script>
      <link rel="stylesheet" type="text/css" href="/stylesheets/dialog-polyfill.css" />
      <link rel="stylesheet" href="/stylesheets/MyTownMap.css">
      <style>
        .mdl-list__item > span {
            width: 100px;
        }
        .mdl-list-courseitem {
          float:left;
        }
        .mdl-list-courseitem-text {
          text-align: center;
          margin-top: 10px;
          float: left;
          width: 100%; 
          overflow: hidden; 
          white-space: nowrap; 
          text-overflow: ellipsis;          
        }
        .mdl-tooltip--large {
          color: black;
          padding: 0px;
        }        
        .mdl-tooltip--large > .wrap{
          border: 1px solid;
        }

        .cmdesc img {
          max-width: 98%;
        }
    </style>   
    
    <script>
      var markerInfo = null;
      var dialog = null;      

      window.onload = function () {
        var dtlList = <%-JSON.stringify(dtlList).replace(/null/gi, '""')%>;
        var centerPos = {ib:<%=mapInfo.ib%>, jb:<%=mapInfo.jb%>};
        var positions = [];

        dtlList.forEach(function(place) {
          var content = getMarker(place);
          var posInfo =  {
            content: content, 
            latlng: new daum.maps.LatLng(place.PGLON, place.PGLAT),
            place: place
          };
          positions.push(posInfo);
          $("#" + place.PGNO).click(function() {
            $("#pgname").html(place.PGNAME);
            $("#pgaddr").html(place.PGADDR);
            $("#placeAvarta3dialog").html("<i class='material-icons mdl-list__item-avatar noRound'>" + place.PLACEICON +"</i>");
            
            var str = "";
            if (place.PGTYPE2NM) str = place.PGTYPE2NM;
            if (place.PGURL) str += ' <a href="' + place.PGURL + '" target="_blank" class="link">홈페이지</a> ';
            str += '<a href="http://map.daum.net/link/to/' + place.PGNAME + ',' + place.PGLON + ',' + place.PGLAT + '" target="_blank" class="link">길찾기</a>'; 
            $("#pgetc").html(str);
            
            dialog.showModal();
          });
        });
        markerInfo = showMap(document.getElementById('mytown_map'), new daum.maps.LatLng(centerPos.jb, centerPos.ib), positions);

        $("input[name='placetype']").prop("checked", true);

        $('main').scroll(scrollFunction);

        dialog = document.querySelector('dialog');
        if (! dialog.showModal) {
          dialogPolyfill.registerDialog(dialog);
        }
        dialog.querySelector('.close').addEventListener('click', function() {
          dialog.close();
        });        
      }      

      function scrollFunction() {
          if ( $('main').scrollTop() > 50 ) {
            $("#toTop").show();
          } else {
            $("#toTop").hide();
          }
        
      }
      function ev_showOthers() {
        if (markerInfo.markerList.length===0) return;
        var pos = markerInfo.markerList[0].getPosition();
        location.href = "/show/myTownMap?ib=" + pos.ib + "&jb=" + pos.jb
      }
      function ev_toTop() {
        $('main').animate({ scrollTop: 0 }, 'slow');
      } 
    </script>   
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <% include ../common/header_menu.ejs %>

      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content mdl-color--white mdl-shadow--2dp">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text"><%=mstInfo.CMTITLE%></h2>
              </div>              
              <ul class="demo-list-two mdl-list" id="listUL">
                  <%
                      dtlList.forEach(function(row) {
                  %>                
                      <li class="mdl-list-courseitem mdl-cell--2-col" id="<%=row.PGNO%>">
                        <div class="placeAvarta">
                          <i class="material-icons mdl-list__item-avatar noRound"><%=row.PLACEICON%></i>
                        </div>
                        <span class="mdl-list-courseitem-text" title="<%=row.PGNAME%>"><%=row.PGNAME%></span>
                      </li>
                  <%
                      });
                  %>
              </ul>                
        </div>

        <div class="mdl-grid demo-content mdl-color--white mdl-shadow--2dp cmdesc">
            <span><%-mstInfo.CMDESC%></span>
        </div>  
        
        <div class="mdl-grid demo-content mdl-color--white mdl-shadow--2dp">
          <div id="mytown_map" class="map" style="width: 100%; height: 500px;"></div>      
        </div>

        <div style="z-index:99; position:relative; left:20px; top: -300px">
          <a class="mdl-button mdl-js-button mdl-button--fab " style="width:30px;height: 30px;min-width:30px;" onclick="ev_showOthers()" title="2Km내의 다른 장소보기">
            <i class="material-icons" style="color:red">map</i>
          </a>
        </div>
      </main>
    </div>

    <dialog class="mdl-dialog">
      <h4 class="mdl-dialog__title" id="pgname">이름</h4>
      <div class="mdl-dialog__content" style="min-height: 70px;">
              <div style="float:left">
                <div class="placeAvarta" id="placeAvarta3dialog"></div>
              </div>
              <div style="float:left; padding-left: 10px; width: 250px">
                <div id="pgaddr">주소</div>
                <div id="pgetc" class="info">etc</div>
              </div>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Close</button>
      </div>
    </dialog>  

    <div id="toTop" style="bottom: 30px;position: absolute;right: 30px; z-index:99; display:none;">
      <a class="mdl-button mdl-js-button mdl-button--fab " style="width:30px;height: 30px;min-width:30px;" onclick="ev_toTop()">
        <i class="material-icons" style="color:red">arrow_upward</i>
      </a>
    </div>
  </body>
</html>
